<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Debug builds talk to the dev stack over plain HTTP (10.0.2.2:8480). -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true" tools:ignore="UnusedAttribute" />
</manifest>
